<div class="page-header">
  <h3>Profile Information</h3>
</div>
<form action="/account/profile" method="POST" class="form-horizontal">
  <input type="hidden" name="_csrf" value="{{_csrf}}"/>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" name="email" id="email" value="{{user.email}}" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" name="name" id="name" value="{{user.profile.name}}" class="form-control"/>
    </div>
  </div>
    <div class="form-group">
        <label for="gravatar" class="col-sm-2 control-label">Gravatar</label>
        <div class="col-sm-4"><img src="{{getGravatarURL user 100}}" width="100" height="100" class="profile" /></div>
    </div>

    <div class="page-header">
        <h3>Housing Search Filter Criteria</h3>
    </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-4">
      <input type="text" name="location" id="location" value="{{user.profile.location}}" class="form-control"/>
    </div>
  </div>
    <div class="form-group">
        <label for="minimumPrice" class="col-sm-2 control-label">Minimum Price (In USD)</label>
        <div class="col-sm-4">
            <input type="text" name="minimumPrice" id="minimumPrice" value="{{user.profile.minimumPrice}}" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="maximumPrice" class="col-sm-2 control-label">Maximum Price (In USD)</label>
        <div class="col-sm-4">
            <input type="text" name="maximumPrice" id="maximumPrice" value="{{user.profile.maximumPrice}}" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="minimumBedrooms" class="col-sm-2 control-label">Minimum Number of Bedrooms</label>
        <div class="col-sm-4">
            <input type="text" name="minimumBedrooms" id="minimumBedrooms" value="{{user.profile.minimumNumBedrooms}}" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="minimumBathrooms" class="col-sm-2 control-label">Minimum Number of Bathrooms</label>
        <div class="col-sm-4">
            <input type="text" name="minimumBathrooms" id="minimumBathrooms" value="{{user.profile.minimumNumBathrooms}}" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="maxDistance" class="col-sm-2 control-label">Maximum Distance</label>
        <div class="col-sm-4">
            <select>
                <option id="maximumDistance">5</option>
                <option id="maximumDistance">10</option>
                <option id="maximumDistance">15</option>
                <option id="maximumDistance">20</option>
                <option id="maximumDistance">50</option>
                <option id="maximumDistance">100</option>
            </select>        
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn btn-primary"><span class="fa fa-pencil"></span>Save Profile</button>
        </div>
    </div>
</form>
<div class="page-header">
  <h3>Change Password</h3>
</div>
<form action="/account/password" method="POST" class="form-horizontal">
  <input type="hidden" name="_csrf" value="{{_csrf}}"/>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">New Password</label>
    <div class="col-sm-4">
      <input type="password" name="password" id="password" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-4">
      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button type="submit" class="btn btn btn-primary"><span class="fa fa-lock"></span>Change Password</button>
    </div>
  </div>
</form>
<div class="page-header">
  <h3>Delete Account</h3>
</div>
<p>You can delete your account, but keep in mind this action is irreversible.</p>
<form action="/account/delete" method="POST">
  <input type="hidden" name="_csrf" value="{{_csrf}}"/>
  <button type="submit" class="btn btn-danger"><span class="fa fa-trash"></span>Delete my account</button>
</form>